/* Mobile */
@media (max-width: 740px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  .s-mt-16 {
    margin-top: 16px !important;
  }
  .s-mt-8 {
    margin-top: 8px !important;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav li a {
    padding: 1 24px;
  }
  #nav .subnav {
    position: inherit;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  #content .member-item {
    margin-top: 30px;
    width: 100%;
  }
  #content .avatar {
    width: 60%;
  }
  .contact-info {
    line-height: 2;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #content .place-buy-btn {
    padding: 16px 16px;
  }
  #content .form-submit-btn {
    padding: 16px 20px;
  }
  #content .form-control {
    padding: 15px;
  }
  .contact-info {
    line-height: 2;
  }
  #footer .socials-list a {
    font-size: 48px;
    padding: 0 8px;
  }
  #footer .author a {
    padding: 12px 0;
    display: inline-block;
  }
  #nav .subnav a {
    padding: 5px 12px;
  }
}
